# Environments
.env
db.sqlite3
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python
.cache
# mypy
.mypy_cache/
.pytest_cache/

requests
responses
media/profile_pictures
!media/profile_pictures/default.jpg